{% extends 'base.html' %}

{% block content %}
    <h1>LOGIN</h1>
    <form   class='site-form' action="{% url 'accounts:login' %}" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Login">
        </input>

    </form>
{% endblock %}
