{% extends 'base.html' %}

{% block content %}
    <h1>SIGNUP</h1>
    <form   class='site-form' action="/accounts/signup/" method="post">
        {% csrf_token %}
        {{form}}
        <input type="submit" value="Signup">
        </input>

    </form>
{% endblock %}
