<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}A{% endblock %}</title>
  <nav>
    <ul>
      <li>
        <form class = "logout-link" action = "{% url 'accounts:logout' %}" method="post">
          {%csrf_token%}
          <button type="submit">Logout</button>
        </form>
      </li>
    </ul>
  </nav>
</head>
<body bgcolor="#ECFCFF">
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>